
.contactList{
display: flex;
flex-direction: column;
width: 100%;
height: 165px;
gap: 10px;
overflow-y: scroll;

}
.contactList::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border: 1px solid rgba(157, 0, 157, 0.178);
    border-radius: 5px;
}

.contactList::-webkit-scrollbar-thumb {
    background-color: rgba(157, 0, 157, 0.178);
    border-radius: 5px;      
    border: 3px solid rgba(157, 0, 157, 0.178);
  }